/out/
/.vs/
/.idea/
/cmake-build-debug-mingw/
/cmake-build-debug/
/client/parser.tab.c
/client/parser.tab.h
/client/lex.yy.c
/client/main.exe
/client/debug.exe
/client/main
/client/debug
/CMakeFiles/
